---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=c8d81118a1c90b7ae7f15b69eea436a7&with_keywords=princess
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - b75a7430af4f2c55e0c26771d4351dcb
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '24598'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Fri, 02 Feb 2024 21:08:35 GMT
recorded_with: VCR 6.2.0
